<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h2>Hello <%= @user.name %>,</h2>
  <p>Your account has been approved! You can now log in to the system.</p>
  <p>Click <a href="http://your-app-login-url.com">here</a> to log in.</p>
  <p>Thank you!</p>
</body>
</html>
